[Unit]
Description={{description}}
After=network-online.target

[Service]
Type=notify

ExecStart={{installdir}}/bin/{{name}}
ExecStop=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/stop
ExecReload=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/reload

TimeoutStartSec=20
StandardOutput=syslog
DynamicUser=yes
NoNewPrivileges=true
ConfigurationDirectory={{name}}
RuntimeDirectory={{name}}

[Install]
WantedBy=multi-user.target
