[Socket]
ListenStream={{socket}}
SocketUser=http
SocketGroup=http
MaxConnections=2
FileDescriptorName=http.listen.socket

[Install]
RequiredBy={{name}}.service
