[Unit]
Description={{description}}
After=network-online.target

[Service]
Type=notify

ExecStart=/usr/bin/node --unhandled-rejections=strict --trace-uncaught --trace-warnings --title {{name}} {{installdir}}/src/npm-template-sync-github-hook-cli.mjs
ExecStop=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/stop
ExecReload=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/reload

StopWhenUnneeded=true
TimeoutStartSec=20
DynamicUser=yes
SupplementaryGroups=http
NoNewPrivileges=true
RuntimeDirectory={{name}}/http
RuntimeDirectoryMode=775
RuntimeDirectoryPreserve=yes
StateDirectory={{name}}
CacheDirectory={{name}}
ConfigurationDirectory={{name}}
NotifyAccess=all
FileDescriptorStoreMax=5

MemoryAccounting=true
MemoryHigh=50M
MemoryMax=80M
OOMPolicy=stop

PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
