[Socket]
ListenStream={{socket.http}}
SocketUser={{socket.http.user}}
SocketGroup={{socket.http.group}}
MaxConnections=2
FileDescriptorName=http.listen.socket

[Install]
RequiredBy={{name}}.service
